@use "sass:math";
@import "../../styles/settings.scss";

.hero {
  padding: $base-size;
}

.title {
  padding: ($base-size * 3) 0;
  text-align: center;
  font-size: ($base-size * 3);
  text-transform: uppercase;
}

.subtitle {
    padding: ($base-size * 2) 0;
    text-align: center;
    font-size: ($base-size * 2);
    font-style: italic;
    font-weight: normal;
  }
  
  .title + .subtitle {
    margin-top: (-$base-size * 3);
  }

.column {
  min-height: 420px;
  max-width: 420px;
  width: calc(33% - 12px);
  margin: 24px auto 24px auto;
  background: $color-light;
  padding: ($base-size * 1.5);
  border-radius: $radius;
  box-shadow: 0 math.div($base-size, 4) 0 rgba(0, 0, 0, 0.3);
  color: $color-dark;
}