@import "../../styles/settings.scss";


.label {
    text-align: center;
    padding: 10px;
  }
  
  .form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  @media (max-width: 683px) {
    .button {
      width: 100%;
      text-align: center;
    }
  }